<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__list__item">
                <ul class="footer__list__item__list">
                    <li class="footer__list__item__list__item">
                        <h1>Клиентам</h1>
                    </li>
                    <li class="footer__list__item__list__item">
                        Акции
                    </li>
                    <li class="footer__list__item__list__item">
                        Услуги
                    </li>

                    <li class="footer__list__item__list__item">
                        Личный кабинет
                    </li>
                </ul>
            </li>
            <li class="footer__list__item">
                <ul class="footer__list__item__list">
                    <li class="footer__list__item__list__item">
                        <h1>Информация</h1>
                    </li>
                    <li class="footer__list__item__list__item">
                        Статьи
                    </li>
                    <li class="footer__list__item__list__item">
                        Как купить
                    </li>

                    <li class="footer__list__item__list__item">
                        О бонусах
                    </li>
                    <li class="footer__list__item__list__item">
                        Самовывоз
                    </li>
                </ul>
            </li>
            <li class="footer__list__item">
                <ul class="footer__list__item__list">
                    <li class="footer__list__item__list__item">
                        <h1>Компания</h1>
                    </li>
                    <li class="footer__list__item__list__item">
                        О нас
                    </li>
                    <li class="footer__list__item__list__item">
                        Контакты
                    </li>


                </ul>
            </li>
            <li class="footer__list__item">
                <ul class="footer__list__item__list">
                    <li class="footer__list__item__list__item">
                        <h1>Мы в соцсетях</h1>
                    </li>
                    <li class="footer__list__item__list__item">
                        <a href=""><img src="" alt="insta"></a>
                        <a href=""><img src="" alt="vk"></a>
                        <a href=""><img src="" alt="facebook"></a>
                        <a href=""><img src="" alt="youtube"></a>
                    </li>

                </ul>
            </li>
            <li class="footer__list__item">
                <ul class="footer__list__item__list">
                    <li class="footer__list__item__list__item">
                        <h1>Филиалы</h1>
                    </li>
                    <li class="footer__list__item__list__item">
                        <div class="filial">
                            <div class="filial__left">
                                <p>ул. Ауэзова 175</p>
                                <span>Круглосуточно</span>
                            </div>
                            <div class="filial__right">
                                <h1>+7 777 777 77 77</h1>
                            </div>
                        </div>
                    </li>
                    <li class="footer__list__item__list__item">
                        <div class="filial">
                            <div class="filial__left">
                                <p>ул. Ауэзова 175</p>
                                <span>Круглосуточно</span>
                            </div>
                            <div class="filial__right">
                                <h1>+7 777 777 77 77</h1>
                            </div>
                        </div>
                    </li>

                </ul>
            </li>
            <li class="footer__list__item">
                <ul class="footer__list__item__list">
                    <li class="footer__list__item__list__item">
                        <h1>Интернет-магазин</h1>
                    </li>

                    <li class="footer__list__item__list__item">
                        <div class="filial">
                            <div class="filial__left">
                                <p>Позвонить</p>
                                <span>Ежедневно с 09:00 до 21:00</span>
                            </div>
                            <div class="filial__right">
                                <h1>+7 777 777 77 77</h1>
                            </div>
                        </div>
                    </li>

                    <li class="footer__list__item__list__item">
                        <div class="filial">
                            <div class="filial__left">
                                <p>Чат в WhatsApp</p>
                            </div>
                            <div class="filial__right">
                                <h1>+7 777 777 77 77</h1>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>